.perfil {
  padding: 20px;
}

.perfil h3 {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.perfil-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
}

.perfil-box h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: #465439;
  margin-bottom: 25px;
}

.perfil-descricao div textarea {
  min-height: 200px;
}

.perfil-descricao div span {
  background-color: transparent;
}

.perfil-descricao > span {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.perfil-dados-usuario {
  display: flex;
}
.perfil-dados-usuario div {
  padding-right: 50px;
}

.perfil-dados-usuario div > div {
  display: flex;
  justify-content: space-between;
}

.perfil-dados-usuario div button {
  background-color: transparent;
  border: none;
}

.perfil-dados-usuario div > span {
  background-color: transparent;
}

.perfil-foto-usuario {
  border-radius: 80%;
  width: 140px;
  height: 140px;
  border: 1px solid;
}

@media screen and (max-width: 850px) {
  .perfil-dados-usuario { 
    flex-direction: column;
  }

  .perfil-dados-usuario div:nth-child(2) { 
    order: 1;
    margin-top: 20px;
  }

  .perfil-descricao {
    margin-bottom: 30px;
  }

  .perfil-descricao > span {
    margin-bottom: 10px;
  }
}
