body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../assets/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(128, 128, 0, 0.5);
  padding: 20px;
}

nav img {
  width: 220px;
}

nav div a:nth-child(1) {
  margin-right: 20px;
}

nav div a {
  color: #ffffff;
}

nav div a:hover {
  color: #ffffffcb;
}

.home { 
    height: 80vh;
    display: flex;
    align-items: center;
}

.home-box { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    padding: 30px 20px;
    background-color: rgba(128, 128, 0, 0.5);
}

.home-info p {
    font-weight: bold;
    color: #ffffff;
}

.home div img { 
    height: 250px;
    border-radius: 15px;
}
